<div class="l-form">
    <div class="l-form__title">
        <span class="u-font-lg">登入</span>
        <a href="#" appStopPropagation class="o-link u-font-lg close" (click)="close()">x</a>
    </div>

    <div class="l-form__content">
        <div class="c-form c-form--column">
            <div class="c-form__item c-form__item--column">
                <div class="c-form__label">帳號</div>
                <div class="c-form__text">
                    <input type="text" class="o-inputbox o-inputbox--full">
                </div>
            </div>

            <div class="c-form__item c-form__item--column">
                <div class="c-form__label">密碼</div>
                <div class="c-form__text">
                    <input type="text" class="o-inputbox o-inputbox--full">
                </div>
            </div>
        </div>

        <div class="l-btn l-btn--center u-gapT-sm">
            <div class="l-btn__item">
                <a href="#" class="c-btn c-btn--reverseColor">
                    登入
                </a>
            </div>
        </div>
    </div>
</div>