@keyframes btnAnimate {
    0% {
        transform: scale(0.95);
        box-shadow: rgba(39, 67, 177, 0.667) 0px 0px 0px 0px;
    }
    50% {
        transform: scale(1);
        box-shadow: rgba(87, 45, 136, 0) 0px 0px 0px 10px;
    }
    100% {
        transform: scale(0.95);
        box-shadow: rgba(87, 45, 136, 0) 0px 0px 0px 10px;
    }
}

.c-btn {
    display: block;
    text-decoration: none;
    color: #fff;
    background-color: #2660a9;
    padding: 5px 10px;
    text-align: center;

    &--gap {
        letter-spacing: 0.5em;
    }

    &:hover {
        color: #2660a9;
        background-color: #fff;
        border: 1px solid #2660a9;
        transition: 0.4s;
    }

    &--reverseColor {
        color: #2660a9;
        background-color: #fff;
        border: 1px solid #2660a9;

        &:hover {
            color: #fff;
            background-color: #2660a9;
            border: 1px solid #2660a9;
            transition: 0.4s;
        }
    }

    &--lg {
        min-width: 100px;
    }

    &--animate {
        animation: btnAnimate 2.5s infinite;
    }

    &.is-disabled {
        pointer-events: none;
        background-color: gray;
    }
}

.l-btn {
    display: flex;
    flex-wrap: wrap;

    &--right {
        flex-direction: row-reverse;
    }

    &--center {
        justify-content: center;
    }

    &__item {
        margin: 8px;
    }
}
