@import "./_variables";
@import "./_mixins";

* {
    max-height: 1000000px;
}

html,
body {
}

.l-container {
    height: 100%;
}

.l-main {
    @include breakpoint-down('mobile') {
        margin-top: 58px;
    }
}

.l-footer {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    background: #2660A9;
    padding: 10px;
}

.l-wrap {
    @include wrap();
}

/* ==========================================================================
   Header
   ========================================================================== */
@import "_header";
