<div class="l-seatChart">
    <div class="l-seatChart__wrap">
        <div class="l-seatChart__title">
            <div class="l-seatChart__icon">
                <i class="o-icon o-icon--green"></i>
                <span class="u-font-sm u-gapT-min">已選取</span>
            </div>
            <div class="l-seatChart__icon">
                <i class="o-icon o-icon--yellow"></i>
                <span class="u-font-sm u-gapT-min">無法選取</span>
            </div>
        </div>

        <div class="l-seatChart__screen">
            銀幕
        </div>

        <div class="l-seatChart__text">
            <span href="#" appStopPropagation class="c-seatChart__item c-seatChart__item--column">
                排
            </span>
            <span href="#" appStopPropagation class="c-seatChart__item c-seatChart__item--column">
                排
            </span>
        </div>

        <div class="c-seatChart">
            <ng-container *ngFor="let item of seatChart; let index = index">
                <span class="c-seatChart__item c-seatChart__item--column" *ngIf="item.state.isFirstSeat === true">
                    {{ item.column }}
                </span>
                <a href="#" appStopPropagation class="c-seatChart__item" [class.is-hidden]="item.seat === null"
                    [class.is-noSelect]="item.state.disableSeat === true" [class.is-select]="item.state.isSelect"
                    (click)="changeSeat(index)">
                    {{ item.seat }}
                </a>
                <span class="c-seatChart__item c-seatChart__item--column" *ngIf="item.state.isLastSeat === true">
                    {{ item.column }}
                </span>
            </ng-container>
        </div>

        <div class="l-btn l-btn--center">
            <div class="l-btn__item">
                <a href="#" appStopPropagation class="c-btn c-btn--reverseColor"
                    [class.is-disabled]="selectSeat.length < seatCount" (click)="submitSeat()">
                    送出
                </a>
            </div>
        </div>
    </div>
</div>