<!-- 導航欄 -->
<nav class="l-header">
    <a [routerLink]="['/']" class="c-logo">
        <!-- <img src="/api/placeholder/50/50" alt="Company Logo" class="o-img"> -->
        <h1 class="c-logo__text">Movie Tick</h1>
    </a>

    <ng-container *ngIf="isHiddenMenu === false">
        <a href="#" appStopPropagation class="c-menu__bar" (click)="toggleList()">
            <fa-icon [icon]="isShowMobileList === false ? faBars : faTimes" [size]="'xl'"></fa-icon>
        </a>
        <div class="c-menu" [class.is-open]="isShowMobileList">
            <div class="c-menu__item">
                <a href="#" appStopPropagation class="c-menu__btn" (click)="toggleVisibility(0)">電影類型</a>
                <div class="c-menu__content" *ngIf="genresList.length > 0">
                    <div class="c-menuLink" overlay-scrollbars [options]="scrollOptions"
                        [@slideInOut]="menuList[0] ? 'slideIn' : 'slideOut'">
                        <a [routerLink]="['/movieList']" [queryParams]="{ genres: item.id }" class="c-menuLink__item"
                            *ngFor="let item of genresList" (click)="defaultMenu()">
                            {{ item.name }}
                        </a>
                    </div>
                </div>
            </div>

            <!-- <div class="c-menu__item">
            <a href="#" appStopPropagation class="c-menu__btn" (click)="toggleVisibility(1)">影集類型</a>
            <div class="c-menu__content">
                <div class="c-menuLink" [@slideInOut]="menuList[1] ? 'slideIn' : 'slideOut'">
                    <a href="#" class="c-menuLink__item">動作冒險</a>
                    <a href="#" class="c-menuLink__item">喜劇</a>
                    <a href="#" class="c-menuLink__item">劇情</a>
                    <a href="#" class="c-menuLink__item">科幻奇幻</a>
                    <a href="#" class="c-menuLink__item">恐怖驚悚</a>
                    <a href="#" class="c-menuLink__item">動畫</a>
                </div>
            </div>
        </div> -->

            <div class="c-menu__item">
                <ng-container *ngIf="(userData | async)?.name as user; else noLogin">
                    <a href="#" appStopPropagation class="c-menu__btn" (click)="toggleVisibility(1)">
                        <fa-icon [icon]="faUserCircle" [size]="'xl'"></fa-icon>
                        {{ user }}
                    </a>
                    <div class="c-menu__content" *ngIf="genresList.length > 0">
                        <div class="c-menuLink" overlay-scrollbars [options]="scrollOptions"
                            [@slideInOut]="menuList[1] ? 'slideIn' : 'slideOut'">

                            <ng-container *ngFor="let item of userList">
                                <ng-container *ngIf="item.isOpenDialog === false; else openDialog">
                                    <a [routerLink]="[item.url]" [queryParams]="{ id: (userData | async)?.userNo }"
                                        class="c-menuLink__item" (click)="defaultMenu()">
                                        {{ item.name }}
                                    </a>
                                </ng-container>

                                <ng-template #openDialog>
                                    <a href="#" appStopPropagation class="c-menuLink__item" (click)="postLogout()">
                                        登出
                                    </a>
                                </ng-template>
                            </ng-container>
                        </div>
                    </div>
                </ng-container>


                <ng-template #noLogin>
                    <a [routerLink]="['/login']" appStopPropagation class="c-menu__btn">
                        登入
                    </a>
                </ng-template>
            </div>
        </div>
    </ng-container>
</nav>

<!-- <swal #deleteSwal title="SweetAlert2 Timer" icon="success">
    <ng-container *swalPortal="swalTargets.content">
        <ng-template [ngTemplateOutlet]="customTemplate"></ng-template>
    </ng-container>
</swal>
 -->

<ng-template #customTemplate>
    已登出
</ng-template>