<div class="l-login l-login--register" [ngStyle]="{
    'background-image': 'url('+ 'https://image.tmdb.org/t/p/original' + bgPic + ')',
  }">
    <div class="l-login__content">
        <div class="l-login__item">
            <div [ngSwitch]="currentStep">
                <div *ngSwitchCase="'email'">
                    <div class="l-form">
                        <div class="l-form__title l-form__title--login">
                            <div class="u-font-lg u-tac">忘記密碼</div>
                        </div>

                        <div class="l-form__content">
                            <div class="c-form c-form--column" [formGroup]="forgetForm">
                                <div class="c-form__item c-form__item--column">
                                    <div class="c-form__text">
                                        <input type="text" formControlName="email"
                                            [class.is-error]="forgetForm.controls['email'].invalid && forgetForm.controls['email'].dirty"
                                            class="o-inputbox o-inputbox--full" placeholder="請輸入信箱">
                                    </div>
                                    <ng-container *ngIf="forgetForm.controls['email'].dirty">
                                        <div class="c-form__error"
                                            *ngIf="forgetForm.controls['email'].hasError('required') && forgetForm.controls['email'].dirty">
                                            請輸入信箱
                                        </div>
                                        <div class="c-form__error"
                                            *ngIf="forgetForm.controls['email'].hasError('pattern') && forgetForm.controls['email'].dirty">
                                            請輸入正確email格式
                                        </div>
                                    </ng-container>
                                </div>
                            </div>

                            <div class="l-btn l-btn--center u-gapB-sm">
                                <div class="l-btn__item l-btn__item--full">
                                    <a href="#" appStopPropagation class="c-btn" (click)="validEmail()">
                                        送出
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- OTP 驗證 -->
                <app-otp-valid [otpEmail]="otpEmail" (emitValidOtp)="emitValidOtp($event)"
                    *ngSwitchCase="'otp'"></app-otp-valid>

                <!-- 重設密碼 -->
                <app-reset-password [otpEmail]="otpEmail" *ngSwitchCase="'resetPassword'"></app-reset-password>
            </div>
        </div>
    </div>
</div>