<table class="c-table c-table--card c-table--underline">
    <colgroup>
        <col>
        <col style="width: 230px;">
        <col style="width: 230px;">
        <col style="width: 230px;">
    </colgroup>
    <thead>
        <tr>
            <th>票種</th>
            <th class="is-center">時間</th>
            <th class="is-center">座號</th>
            <th class="is-center">狀態</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td data-label="票種">雙人吉拿套票</td>
            <td data-label="時間" class="is-center">
                <span>12月5日 12:10</span>
            </td>
            <td data-label="座號" class="is-center">
                <span>13排9號</span>
            </td>
            <td data-label="狀態" class="is-center">
                <span>未付款</span>
            </td>
        </tr>

        <tr>
            <td data-label="票種">雙人吉拿套票</td>
            <td data-label="時間" class="is-center">
                <span>12月5日 12:10</span>
            </td>
            <td data-label="座號" class="is-center">
                <span>13排9號</span>
            </td>
            <td data-label="狀態" class="is-center">
                <span>未付款</span>
            </td>
        </tr>
    </tbody>
</table>