<table class="c-table c-table--card c-table--underline">
    <colgroup>
        <col>
        <col style="width: 230px;">
        <col style="width: 230px;">
        <col style="width: 230px;">
    </colgroup>
    <thead>
        <tr>
            <th>票種</th>
            <th>語言</th>
            <th class="is-center">時間</th>
            <th class="is-center">座號</th>
            <th class="is-center">狀態</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of ticketPersonalList">
            <td data-label="票種">{{ item.ticketCategoryName }}</td>
            <td data-label="語言">{{ item.ticketLanguageName }}</td>
            <td data-label="時間" class="is-center">
                <span>{{ item.ticketDate| date:'MM月dd日 HH:mm' }}</span>
            </td>
            <td data-label="座號" class="is-center">
                <span>{{ item.column }}排{{ item.seat }}號</span>
            </td>
            <td data-label="狀態" class="is-center">
                <span>未付款</span>
            </td>
        </tr>
    </tbody>
</table>

<ng-container *ngIf="total > 0">
    <app-pager [total]="total" [nowPage]="nowPage" (changePageEmitter)="changePageEmitter($event)"></app-pager>
</ng-container>