<div class="l-headingBar">
    <div class="l-headingBar__wrap">
        <div class="l-headingBar__content">
            <div class="l-headingBar__title">電影簡介</div>
        </div>
    </div>
</div>

<div class="l-card" *ngIf="movieDetail.title">
    <div class="c-movieCard c-movieCard--row">
        <div class="c-movieCard__img c-movieCard__img--detail"
            [ngStyle]="{ 'background-image': 'url(' + 'https://image.tmdb.org/t/p/w342'+ movieDetail.poster_path + ')'}">
        </div>
        <div class="c-movieCard__content">
            <div class="l-movieDetail">
                <div class="l-movieDetail__head">
                    <div class="l-movieDetail__title">{{ movieDetail.title }}</div>
                    <div class="l-movieDetail__subTitle">{{ movieDetail.original_title }}</div>
                </div>
                <div class="l-movieDetail__content">
                    <div class="c-form c-form--column">
                        <div class="c-form__item">
                            <div class="c-form__label">級別</div>
                            <div class="c-form__text">
                                <img [src]="'/assets/images/icons/rating/'+ movieDetail.rateImg +'.png'" width="28"
                                    height="28" alt="" srcset="">
                            </div>
                        </div>

                        <div class="c-form__item">
                            <div class="c-form__label">片長</div>
                            <div class="c-form__text">{{ movieDetail.runtime }}分</div>
                        </div>

                        <div class="c-form__item">
                            <div class="c-form__label">上映日</div>
                            <div class="c-form__text">{{ movieDetail.release_date }}</div>
                        </div>

                        <div class="c-form__item">
                            <div class="c-form__label">類型</div>
                            <div class="c-form__text">{{ movieDetail.genres }}</div>
                        </div>

                        <div class="c-form__item">
                            <div class="c-form__label">演員</div>
                            <div class="c-form__text">{{ movieDetail.cast }}</div>
                        </div>

                        <div class="c-form__item">
                            <div class="c-form__label">導演</div>
                            <div class="c-form__text">{{ movieDetail.director.name }}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="l-headingBar">
    <div class="l-headingBar__wrap">
        <div class="l-headingBar__content">
            <div class="l-headingBar__title">線上訂票</div>
        </div>
    </div>
</div>

<div class="l-card">
    <div class="l-swiper u-gapH-md">
        <swiper-container appSwiper [swiperConfig]="swiperConfig" init="false"
            class="swiper-container c-dateTab c-dateTab--underline">
            <swiper-slide *ngFor="let item of date; let index = index" class="c-dateTab__item"
                [ngClass]="{ 'is-active': ticketSelect.date === item }">
                <a href="#" appStopPropagation class="c-dateTab__link" (click)="selectTicketDate(item)">
                    {{ item | date:"MM月dd日"}}
                </a>
            </swiper-slide>
        </swiper-container>

        <a href="#" appStopPropagation class="c-dateTab__prev"></a>
        <a href="#" appStopPropagation class="c-dateTab__next"></a>
    </div>
    <div class="u-gapH-md-t u-gapT-sm-m">
        <table class="c-table c-table--card c-table--underline">
            <tbody>
                <tr *ngFor="let item of ticketLanguage">
                    <td data-label="語言" class="is-center">{{ item.categoryName }}</td>
                    <td data-label="時間">
                        <div class="l-radio">
                            <div class="l-radio__item" *ngFor="let time of ticketTime">
                                <label class="o-radiobox o-radiobox--btn o-radiobox--lg">
                                    <input type="radio" name="category" class="o-radiobox__input"
                                        [checked]="ticketSelect.ticketLanguageCode === item.categoryCode && ticketSelect.time === time"
                                        (change)="selectTicketTime(item, time)">
                                    <div class="o-radiobox__text">{{ time }}</div>
                                </label>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<ng-container *ngIf="ticketSelect.time !== ''">
    <div class="l-headingBar">
        <div class="l-headingBar__wrap">
            <div class="l-headingBar__content">
                <div class="l-headingBar__title">選取票種</div>
            </div>
        </div>
    </div>

    <div class="l-card">
        <div class="u-gapH-md-t">
            <table class="c-table c-table--card c-table--underline">
                <colgroup>
                    <col>
                    <col style="width: 121px;">
                    <col style="width: 121px;">
                    <col style="width: 121px;">
                </colgroup>
                <thead>
                    <tr>
                        <th>票種</th>
                        <th class="is-center">單價</th>
                        <th class="is-center">數量</th>
                        <th class="is-center">小計</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let category of ticketCategory; let index = index">
                        <td data-label="票種">{{ category.categoryName }}</td>
                        <td data-label="單價" class="is-center">${{ category.cost }}</td>
                        <td data-label="數量" class="is-center">
                            <select class="o-selectbox" (change)="selectTickCategory(index, $event)">
                                <option [value]="item" *ngFor="let item of ticketCount">
                                    {{ item }}
                                </option>
                            </select>
                        </td>
                        <td data-label="小計" class="is-center">
                            ${{ category.cost * ticketSelect.ticketCategory[index].count}}
                        </td>
                    </tr>
                </tbody>
            </table>

            <div class="l-btn l-btn--right" *ngIf="tickCategoryCount > 0">
                <div class="l-btn__item">
                    <a href="#" appStopPropagation class="c-btn c-btn--reverseColor c-btn--animate"
                        (click)="selectSeat()">
                        選取座位
                        <fa-icon [icon]="faGreaterThan" [size]="'2xs'"></fa-icon>
                    </a>
                </div>
            </div>
        </div>
    </div>
</ng-container>

<ng-container *ngIf="isHiddenSelectSeat === false && tickCategoryCount > 0">
    <div class="l-headingBar">
        <div class="l-headingBar__wrap">
            <div class="l-headingBar__content">
                <div class="l-headingBar__title">選取座位</div>
            </div>
        </div>
    </div>

    <div class="l-card">
        <div class="u-gapH-md-t">
            <app-seat-chart [ticketSelect]="ticketSelect" [disableSeatSeat]="disableSeatSeat"
                (submitTicket)="submitTicket($event)"></app-seat-chart>
        </div>
    </div>
</ng-container>

<ng-template #customTemplate>
    {{ isSubmitSuccess ? "送出成功" : "送出失敗" }}
</ng-template>