<div class="l-headingBar">
    <div class="l-headingBar__wrap">
        <div class="l-headingBar__content">
            <div class="l-headingBar__title">電影簡介</div>
        </div>
    </div>
</div>

<div class="l-card" *ngIf="movieDetail.title">
    <div class="c-movieCard c-movieCard--row">
        <div class="c-movieCard__img c-movieCard__img--detail"
            [ngStyle]="{ 'background-image': 'url(' + 'https://image.tmdb.org/t/p/w342'+ movieDetail.poster_path + ')'}">
        </div>
        <div class="c-movieCard__content">
            <div class="l-movieDetail">
                <div class="l-movieDetail__head">
                    <div class="l-movieDetail__title">{{ movieDetail.title }}</div>
                    <div class="l-movieDetail__subTitle">{{ movieDetail.original_title }}</div>
                </div>
                <div class="l-movieDetail__content">
                    <div class="c-form c-form--column">
                        <div class="c-form__item">
                            <div class="c-form__label">級別</div>
                            <div class="c-form__text">
                                <img [src]="'/assets/images/icons/rating/'+ movieDetail.rateImg +'.png'" width="28"
                                    height="28" alt="" srcset="">
                            </div>
                        </div>

                        <div class="c-form__item">
                            <div class="c-form__label">片長</div>
                            <div class="c-form__text">{{ movieDetail.runtime }}分</div>
                        </div>

                        <div class="c-form__item">
                            <div class="c-form__label">上映日</div>
                            <div class="c-form__text">{{ movieDetail.release_date }}</div>
                        </div>

                        <div class="c-form__item">
                            <div class="c-form__label">類型</div>
                            <div class="c-form__text">{{ movieDetail.genres }}</div>
                        </div>

                        <div class="c-form__item">
                            <div class="c-form__label">演員</div>
                            <div class="c-form__text">{{ movieDetail.cast }}</div>
                        </div>

                        <div class="c-form__item">
                            <div class="c-form__label">導演</div>
                            <div class="c-form__text">{{ movieDetail.director.name }}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="l-headingBar">
    <div class="l-headingBar__wrap">
        <div class="l-headingBar__content">
            <div class="l-headingBar__title">線上訂票</div>
        </div>
    </div>
</div>

<div class="l-card">
    <div class="l-swiper u-gapH-md">
        <swiper-container appSwiper [swiperConfig]="swiperConfig" init="false"
            class="swiper-container c-dateTab c-dateTab--underline">
            <swiper-slide *ngFor="let item of date; let index = index" class="c-dateTab__item"
                [ngClass]="{ 'is-active': index === 0 }">
                <a href="#" appStopPropagation class="c-dateTab__link">{{ item }}</a>
            </swiper-slide>
        </swiper-container>

        <a href="#" appStopPropagation class="c-dateTab__prev"></a>
        <a href="#" appStopPropagation class="c-dateTab__next"></a>
    </div>
    <div class="u-gapH-md-t u-gapT-sm-m">
        <table class="c-table c-table--card c-table--underline">
            <tbody>
                <tr>
                    <td data-label="語言" class="is-center">2D英語</td>
                    <td data-label="時間">
                        <div class="l-btn">
                            <div class="l-btn__item">
                                <a href="#" class="c-btn c-btn--lg c-btn--reverseColor">13:10</a>
                            </div>

                            <div class="l-btn__item">
                                <a href="#" class="c-btn c-btn--lg c-btn--reverseColor">16:10</a>
                            </div>

                            <div class="l-btn__item">
                                <a href="#" class="c-btn c-btn--lg c-btn--reverseColor">17:10</a>
                            </div>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td data-label="語言" class="is-center">2D國語</td>
                    <td data-label="時間">
                        <div class="l-btn">
                            <div class="l-btn__item">
                                <a href="#" class="c-btn c-btn--lg c-btn--reverseColor">20:10</a>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="l-headingBar">
    <div class="l-headingBar__wrap">
        <div class="l-headingBar__content">
            <div class="l-headingBar__title">選取票種</div>
        </div>
    </div>
</div>

<div class="l-card">
    <div class="u-gapH-md-t">
        <table class="c-table c-table--card c-table--underline">
            <colgroup>
                <col>
                <col style="width: 121px;">
                <col style="width: 121px;">
                <col style="width: 121px;">
            </colgroup>
            <thead>
                <tr>
                    <th>票種</th>
                    <th class="is-center">單價</th>
                    <th class="is-center">數量</th>
                    <th class="is-center">小計</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td data-label="票種">雙人吉拿套票</td>
                    <td data-label="單價" class="is-center">$830</td>
                    <td data-label="數量" class="is-center">
                        <select class="o-selectbox">
                            <option value="">1</option>
                            <option value="">2</option>
                            <option value="">3</option>
                            <option value="">4</option>
                            <option value="">5</option>
                            <option value="">6</option>
                            <option value="">7</option>
                            <option value="">8</option>
                            <option value="">9</option>
                            <option value="">10</option>
                        </select>
                    </td>
                    <td data-label="小計" class="is-center">$0</td>
                </tr>

                <tr>
                    <td data-label="票種">雙人吉拿套票</td>
                    <td data-label="單價" class="is-center">$830</td>
                    <td data-label="數量" class="is-center">
                        <select class="o-selectbox">
                            <option value="">1</option>
                            <option value="">2</option>
                            <option value="">3</option>
                            <option value="">4</option>
                            <option value="">5</option>
                            <option value="">6</option>
                            <option value="">7</option>
                            <option value="">8</option>
                            <option value="">9</option>
                            <option value="">10</option>
                        </select>
                    </td>
                    <td data-label="小計" class="is-center">$0</td>
                </tr>
            </tbody>
        </table>

        <div class="l-btn l-btn--right">
            <div class="l-btn__item">
                <a href="#" class="c-btn c-btn--reverseColor c-btn--animate">
                    選取座位
                    <fa-icon [icon]="faGreaterThan" [size]="'2xs'"></fa-icon>
                </a>
            </div>
        </div>
    </div>
</div>

<div class="l-headingBar">
    <div class="l-headingBar__wrap">
        <div class="l-headingBar__content">
            <div class="l-headingBar__title">選取座位</div>
        </div>
    </div>
</div>

<div class="l-card">
    <div class="u-gapH-md-t">
        <app-seat-chart></app-seat-chart>
    </div>
</div>