<div class="l-movie">
    <div class="l-movie__item">
        <div class="l-movie__header">
            <div class="l-headingBar">
                <div class="l-headingBar__wrap">
                    <div class="l-headingBar__content">
                        <div class="l-headingBar__title">現正熱映</div>
                    </div>
                </div>
            </div>

            <div class="l-card">
                <div class="c-form u-gapT-sm" [formGroup]="searchForm">
                    <div class="c-form__item">
                        <div class="c-form__require">
                            <div class="c-form__text">
                                <app-date-picker formControlName="startDate"
                                    [isError]="searchForm.get('startDate')?.invalid || false"
                                    [placeholder]="'請輸入起始日'"></app-date-picker>
                            </div>
                            <div class="c-form__error" *ngIf="searchForm.get('startDate')?.invalid">123</div>
                        </div>
                    </div>

                    <div class="c-form__item">
                        <div class="c-form__require">
                            <div class="c-form__text">
                                <app-date-picker formControlName="endDate"
                                    [isError]="searchForm.get('endDate')?.invalid || false"
                                    [placeholder]="'請輸入結束日'"></app-date-picker>
                            </div>
                            <div class="c-form__error" *ngIf="searchForm.get('endDate')?.invalid">123</div>
                        </div>
                    </div>

                    <div class="c-form__item">
                        <a href="#" appStopPropagation class="c-btn" (click)="submitForm()">送出</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="l-movie__content">
            <div class="l-movieCard">
                <div class="l-movieCard__wrap">
                    <div class="l-movieCard__itme l-movieCard__itme--sm" *ngFor="let item of movieList">
                        <div class="c-movieCard c-movieCard--zoom">
                            <a href="#" class="o-link">
                                <div class="c-movieCard__img"
                                    [ngStyle]="{ 'background-image': 'url(' + 'https://image.tmdb.org/t/p/w342'+ item.poster_path + ')'}">
                                </div>
                            </a>
                            <div class="c-movieCard__content c-movieCard__content--gary">
                                <div>
                                    <div class="c-movieCard__title">
                                        {{ item.title }}
                                    </div>
                                    <div class="c-movieCard__subTitle">
                                        {{ item.overview }}
                                    </div>
                                    <div class="c-movieCard__date">上映日期：{{ item.release_date }}</div>
                                </div>
                                <img src="https://www.showtimes.com.tw/images/rating/ic_rating_g.png" width="40"
                                    height="40" alt="" srcset="">
                            </div>
                            <a appStopPropagation [routerLink]="['/ticketing', 11234]" class="c-btn c-btn--gap">線上訂票</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-pager [total]="total" [nowPage]="nowPage" (changePageEmitter)="changePageEmitter($event)"></app-pager>